name: Package Linux Artifacts

env:
  VERSION: ${{ github.event.workflow_run.head_sha }}
  
on:
  workflow_run:
    workflows: ["Build binaries (Windows, Linux, macOS)"]
    types:
      - completed

jobs:
  package-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download Linux build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts-ubuntu-latest
          path: build-artifacts

      - name: Verify binary
        run: |
          ls -lah build-artifacts/linux
          file build-artifacts/linux/main

      - name: Install packaging tools
        run: |
          sudo apt-get update
          sudo apt-get install -y fakeroot dpkg-dev rpm xorriso squashfs-tools wget ruby ruby-dev build-essential
          sudo gem install --no-document fpm

      - name: Prepare package layout
        run: |
          mkdir -p package/usr/local/bin
          cp build-artifacts/linux/main package/usr/local/bin/hl7-lookup
          chmod +x package/usr/local/bin/hl7-lookup

      #####################
      # Build DEB package #
      #####################
      - name: Build .deb
        run: |
          mkdir -p package/DEBIAN
          cat <<EOF > package/DEBIAN/control
          Package: hl7-lookup
          Version: ${{ env.VERSION }}
          Section: utils
          Priority: optional
          Architecture: amd64
          Maintainer: Your Name <you@example.com>
          Description: HL7 Lookup Tool
          EOF
          dpkg-deb --build package hl7-lookup_${{ github.event.inputs.version }}_amd64.deb

      #####################
      # Build RPM package #
      #####################
      - name: Build .rpm
        run: |
          fpm -s dir -t rpm \
            -n hl7-lookup \
            -v ${{ env.VERSION }}
            -C package usr/local/bin/hl7-lookup

      ##########################
      # Build AppImage package #
      ##########################
      - name: Build AppImage
        run: |
          wget -O appimagetool "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage"
          chmod +x appimagetool

          mkdir -p hl7_lookup.AppDir/usr/bin
          cp build-artifacts/linux/main hl7_lookup.AppDir/usr/bin/hl7-lookup

          cat <<EOF > hl7_lookup.AppDir/hl7_lookup.desktop
          [Desktop Entry]
          Name=HL7 Lookup
          Exec=hl7-lookup
          Type=Application
          Categories=Utility;
          EOF

          ./appimagetool hl7_lookup.AppDir hl7-lookup-${{ github.event.inputs.version }}-x86_64.AppImage

      - name: Upload packaged artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-packages
          path: |
            hl7-lookup_${{ github.event.inputs.version }}_amd64.deb
            *.rpm
            hl7-lookup-${{ github.event.inputs.version }}-x86_64.AppImage
